@{
    ViewData["Title"] = "Home Page";
    WebDashboardv2.Model.UserAccessModel UserModel = (WebDashboardv2.Model.UserAccessModel)ViewData["User"];
}


<style>
    .image-logo-med {
        height: auto;
        width: auto;
        max-height: 50px;
        max-width: 50px;
    }
</style>

<h2>Welcome @UserModel.Name</h2>
@if(!UserModel.Exists){
    <h3>If you require elevated permissions, please contact IT.</h3>
}