
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>
<div>
    <div class="form-group col-lg-6">
        <label class="font-normal">Affected Departments</label>
        <select data-placeholder="Choose Departments" class="chosen-select" multiple tabindex="4">
            @foreach (WebDashboardv2.Model.Departments dept in Enum.GetValues(typeof(WebDashboardv2.Model.Departments)))
            {
                <option value="">@dept.ToString()</option>
            }
        </select>
    </div>


    </div>

      
        @section Styles {
            <environment names="Development">
                <link rel="stylesheet" href="~/lib/chosen/bootstrap-chosen.css" />
            </environment>
            <environment names="Staging,Production">
                <link rel="stylesheet" href="~/lib/chosen/bootstrap-chosen.css" />
            </environment>
        }

        @section Scripts {
            <environment names="Development">
                <script src="~/lib/chosen/chosen.jquery.js"></script>
            </environment>
            <environment names="Staging,Production">
                <script src="~/lib/chosen/chosen.jquery.js"></script>
            </environment>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('.chosen-select').chosen();
                });
</script>
        }
